*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --slate: #434455;
  --iris: #4d5ae5;
  --cornflower: #e7e9fc;
  --grey: rgba(46, 47, 66, 0.70);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--navyblue);
  line-height: 1.5rem;
  letter-spacing: 0.32px;
  /* padding: 0; */
  /* margin: auto; */

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.section {
  padding-bottom: 120px;
}

.container {
  padding: 0px 156px;
  width: 1440px;
  margin: 0 auto;
}

.address-section a:last-child,
.container-feature li:last-child {
  margin-right: 0;
}

.services-list:not(:last-child),
.feature-list:not(:last-child),
.team-list:not(:last-child),
.filter-list:not(:last-child) {
  margin-right: 24px;
}

.services-menu,
.feature-menu,
.filter-menu,
.team-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  /* align-items: flex-start; */
  padding: 0;
  margin: 0;
}

.services-list,
.feature-list,
.card-list {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

/* .services-img,
.team-img {
  width: 100%;
} */

/* Header: Navigation container section  */
.container-header {
  display: flex;
  border-bottom: 1px solid var(--cornflower);
  justify-content: space-between;
  align-items: center;
  padding: 24px 156px;
  align-items: center;
}

.navigation-header {
  display: inline-flex;
}

/* Navigation Section  */
/* .navigation-menu, */
.navigation-list {
  display: inline-block;
  list-style: none;
  /* align-items: center; */
}

.navigation-header>a {
  color: var(--navyblue);
  text-decoration: none;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.313rem;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}

.navigation-logo-web {
  color: var(--iris, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.313em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.navigation-menu {
  padding: 0;
}

.navigation-list:not(:last-child) {
  margin-right: 40px;
}

.navigation-list a {
  text-decoration: none;
  color: var(--navyblue, #2e2f42);
  font-weight: 500;
}

.navigation-list a:hover {
  color: var(--ocean, #404bbf);
}

.address-section {
  display: inline-block;
  margin-left: auto;
}

.address-section a {
  color: var(--slate, #434455);
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: 0.32px;
  text-decoration: none;
  margin-right: 40px;
}

.address-section a:hover {
  color: var(--ocean, #404bbf);
}

/* Hero container section  */
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 600px;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

/* .hero > img {
  display: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
/* .hero {
    width: 100%;
      height: 100%;
      object-fit: cover;
  padding: 188px 15px;
  background-color: var(--navyblue);
  text-align: center;
} */
.hero-office-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-dark-bg {
  position: absolute;
  /* left: 0; */
  /* top: 0; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: linear-gradient(to bottom, rgb(46, 47, 66, 1), rgb(46, 47, 66, 1));
  opacity: 0.7;
}

*/ .hero-title {
  position: absolute;
  top: 188px;
  left: 472px;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 3.75rem;
  letter-spacing: 1.12px;
  text-transform: capitalize;
  /* margin-left: auto; */
  /* color: var(--white, #fff); */
}

.hero-title span {
  text-transform: lowercase;
}

.hero-button {
  position: absolute;
  color: var(--white, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.64px;
  border-radius: 4px;
  border-style: none;
  background-color: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 16px 32px;
  text-transform: capitalize;
  left: 636px;
  bottom: 188px;
}

.hero-button:hover {
  background: var(--ocean);
}

/* Index: Section 1 (Feature) */
.section-feature {
  padding: 120px 0;
  list-style-type: none;
}

.container-feature {
  display: flex;
  border-radius: 4px;
  border-style: none;
  padding: 0 156px;
  margin: 0 auto;
  justify-content: center;
}

.feature-menu {
  list-style: none;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0px 15px;
  margin: 0;
}

.feature-list {
  flex-basis: calc((100% - 72) / 4);
  margin-right: 24px;
  width: 264px;
}

.feature-list:last-child {
  margin-right: 0;
}

.container-feature-icon {
  background-color: var(--cloud);
  text-align: center;
}

.feature-icons {
  width: 64px;
  height: 64px;
  margin: 24px 0px;
}

.feature-list h3 {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  /* width: 264px; */
  text-align: left;
  margin: 8px 0;
}

.feature-list p {
  color: var(--slate, #434455);
  margin: 8px 0px 0px;
}

/* Index: Section 2 (What we are doing) */
.section-services {
  padding: 0 156px 120px;
}

.container-services {
  text-align: center;
  padding: 0px 15px;
}

.services-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 2.5em;
  letter-spacing: 0.72px;
  margin-bottom: 72px;
  text-transform: capitalize;
}

.services-menu {
  display: inline-flex;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.services-list {
  /* margin-right: 0px 24px; */
  flex-basis: calc((100% - 48px) / 3);
}

.services-list:not(:last-child) {
  margin-right: 24px;
}

.services-list img {
  width: 100%;
  border: 1px solid var(--CORNFLOWER, #E7E9FC);

}

/* Index: Section 3 (Our Team) */
.section-team {
  text-align: center;
  background-color: var(--cloud);
  padding: 120px 0px;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.72px;
  margin-bottom: 72px;
  text-transform: capitalize;
}

.team-list {
  list-style-type: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.team-list li {
  /* display: inline-flex; */
  /* padding-bottom: 0px; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-img {
  max-width: 264px;
}

.team-list h3 {
  margin-top: 32px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.team-list p {
  margin: 8px 0px;
  /* margin-bottom: 32px; */
  color: var(--slate);
  text-align: center;
}

.container-team-icon {
  display: flex;
  width: 264px;
  justify-content: center;
}

.team-icon {
  width: 40px;
  height: 40px;
  margin-right: 24px;
  margin-bottom: 32px;
}

.team-icon:last-child {
  margin-right: 0px;
}

/* Index: Section Customers */
.section-customer {
  padding: 120px 156px;
  border: 3px solid tomato;

}

.container-customer {
  text-align: center;
  padding: 0px 15px;
}

.customer-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 2.5em;
  letter-spacing: 0.72px;
  margin-bottom: 72px;
  text-transform: capitalize;
}

/* .customer-menu {
  list-style: none;
} */
.customer-icon {
  width: 104px;
  height: 56px;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8E8F99);
}

/* Portfolio: Project Card Section */
.filter {
  display: flex;
  list-style-type: none;
  width: 100%;
  padding: 96px 15px 72px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.filter button {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);
  padding: 12px 24px;
  margin-left: 24px;
  text-align: center;
  color: var(--iris, #4d5ae5);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.64px;
}

.filter button:hover {
  color: var(--white, #fff);
  border-radius: 4px;
  background: var(--ocean, #404bbf);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.container-card {
  padding: 0px 15px 120px;
}

.card-section {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 48px;
}

.card-list img {
  width: 360px;
}

.card-content {
  border-left: 1px solid var(--cornflower, #e7e9fc);
  border-right: 1px solid var(--cornflower, #e7e9fc);
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
  padding: 32px 16px;
}

.card-content h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.card-content p {
  padding-top: 8px;
  color: var(--slate);
}

.footer {
  background-color: var(--navyblue);
  width: 100%;
  padding: 101.5px 15px 100px;
}

.footer-logo-web {
  color: var(--iris, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.313em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  /* padding-left: 156px; */
}

.footer>a {
  color: var(--cloud, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.313rem;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer p {
  color: var(--cloud);
  text-decoration: none;
  width: 264px;
  text-align: left;
  margin-top: 17.5px;
}